.authorization {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #648ebb;
}

.authorization-form {
  border: 1px solid #7d9fc0;
  box-shadow: 2px 0 15px rgba(19, 18, 31, 0.19), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
}

.authorization-form input[type="text"] {

}