.connected {
  position: relative;
  width: 298px;
  height: 298px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e1e5eb;  
}

.connected .area {
  width: 100%;
  height: 75%;
  background-color: rgba(154, 160, 169, 0.384)
}

.connected hr {
  margin: 10px 0;
  background-color: rgb(191, 191, 191);
}