button {
  background: none;
  border: none;
  padding: 0;
}

.data_channel {
  width: 200px;
  height: 200px;
  text-align: center;
  border: 2px solid black;
}

.signal {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.signal_success {
  background-color: green;
  border-color: green;
}

.signal_denied {
  background-color: red;
  border-color: red;
}

.signal_awaiting {
  background-color: gray;
  border-color: gray;
}